/* Style Settings comment for use with the Style Settings Community Plugin */
/* @settings

name: StarWars Dice CSS Snippet
id: craftidore-star-wars-dice-snippet
settings:
    - 
        id: do-not-invert-symbols-sw
        title: "Don't Invert Symbols"
		description: Don't invert the color of the symbols while in dark theme. 
        type: class-toggle
		default: false
*/

/* Apllies to Everything */ 
.tag[href^="#StarWarsAbility"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsAbility:not(.cm-formatting),
.tag[href^="#StarWarsBoost"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsBoost:not(.cm-formatting),
.tag[href^="#StarWarsChallenge"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsChallenge:not(.cm-formatting),
.tag[href^="#StarWarsDifficulty"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsDifficulty:not(.cm-formatting),
.tag[href^="#StarWarsProficiency"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsProficiency:not(.cm-formatting),
.tag[href^="#StarWarsSetback"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsSetback:not(.cm-formatting),
.tag[href^="#StarWarsAdvantage"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsAdvantage:not(.cm-formatting),
.tag[href^="#StarWarsDespair"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsDespair:not(.cm-formatting),
.tag[href^="#StarWarsFailure"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsFailure:not(.cm-formatting),
.tag[href^="#StarWarsSuccess"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsSuccess:not(.cm-formatting),
.tag[href^="#StarWarsThreat"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsThreat:not(.cm-formatting),
.tag[href^="#StarWarsTriumph"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsTriumph:not(.cm-formatting),
.tag[href^="#StarWarsForce"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsForce:not(.cm-formatting),
.tag[href^="#StarWarsLightSide"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsLightSide:not(.cm-formatting),
.tag[href^="#StarWarsDarkSide"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsDarkSide:not(.cm-formatting),
.tag[href^="#StarWarsLightDark"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsLightDark:not(.cm-formatting) {
	display: inline-flex;
	align-self: center;
	top: .175em;
	position: relative;
	height: 1em;
	width: 1em;
	border: 0;
}

/* Because I don't want the `#` showing up in the tag */
.is-live-preview .cm-line:not(.cm-active) .cm-formatting.cm-tag-StarWarsAbility,
.is-live-preview .cm-line:not(.cm-active) .cm-formatting.cm-tag-StarWarsBoost,
.is-live-preview .cm-line:not(.cm-active) .cm-formatting.cm-tag-StarWarsChallenge,
.is-live-preview .cm-line:not(.cm-active) .cm-formatting.cm-tag-StarWarsDifficulty,
.is-live-preview .cm-line:not(.cm-active) .cm-formatting.cm-tag-StarWarsProficiency,
.is-live-preview .cm-line:not(.cm-active) .cm-formatting.cm-tag-StarWarsSetback,
.is-live-preview .cm-line:not(.cm-active) .cm-formatting.cm-tag-StarWarsAdvantage,
.is-live-preview .cm-line:not(.cm-active) .cm-formatting.cm-tag-StarWarsDespair,
.is-live-preview .cm-line:not(.cm-active) .cm-formatting.cm-tag-StarWarsFailure,
.is-live-preview .cm-line:not(.cm-active) .cm-formatting.cm-tag-StarWarsSuccess,
.is-live-preview .cm-line:not(.cm-active) .cm-formatting.cm-tag-StarWarsThreat,
.is-live-preview .cm-line:not(.cm-active) .cm-formatting.cm-tag-StarWarsTriumph,
.is-live-preview .cm-line:not(.cm-active) .cm-formatting.cm-tag-StarWarsForce {
	display: none;
}

/* Dice */

.tag[href^="#StarWarsAbility"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsAbility:not(.cm-formatting) {
	content: url("");
}

.tag[href^="#StarWarsBoost"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsBoost:not(.cm-formatting) {
	padding-right: 1px;
	padding-left: 1px;
	content: url("");
}

.tag[href^="#StarWarsChallenge"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsChallenge:not(.cm-formatting) {
	content: url("");
}

.tag[href^="#StarWarsDifficulty"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsDifficulty:not(.cm-formatting) {
	content: url("");
}

.tag[href^="#StarWarsProficiency"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsProficiency:not(.cm-formatting) {
	content: url("");
}

.tag[href^="#StarWarsSetback"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsSetback:not(.cm-formatting) {
	padding-right: 1px;
	padding-left: 1px;
	content: url("");
}

.tag[href^="#StarWarsForce"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsForce:not(.cm-formatting) {
	content: url("");
}

/* Symbols */
.tag[href^="#StarWarsAdvantage"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsAdvantage:not(.cm-formatting) {
	content: url("");
}

.tag[href^="#StarWarsDespair"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsDespair:not(.cm-formatting) {
	content: url("");
}

.tag[href^="#StarWarsFailure"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsFailure:not(.cm-formatting) {
	content: url("");
}

.tag[href^="#StarWarsSuccess"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsSuccess:not(.cm-formatting) {
	content: url("");
}

.tag[href^="#StarWarsThreat"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsThreat:not(.cm-formatting) {
	content: url("");
}

.tag[href^="#StarWarsTriumph"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsTriumph:not(.cm-formatting) {
	content: url("");
}

.tag[href^="#StarWarsLightSide"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsLightSide:not(.cm-formatting) {
	content: url("");
}

.tag[href^="#StarWarsDarkSide"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsDarkSide:not(.cm-formatting) {
	content: url("");
}

.tag[href^="#StarWarsLightDark"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsLightDark:not(.cm-formatting) {
	content: url("");
}

/* Dark-theme fixes. Can be toggled off with Style Settings plugin */
.theme-dark:not(.do-not-invert-symbols) .tag[href^="#StarWarsAdvantage"], .theme-dark:not(.do-not-invert-symbols) .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsAdvantage:not(.cm-formatting), 
.theme-dark:not(.do-not-invert-symbols) .tag[href^="#StarWarsDespair"], .theme-dark:not(.do-not-invert-symbols) .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsDespair:not(.cm-formatting), 
.theme-dark:not(.do-not-invert-symbols) .tag[href^="#StarWarsFailure"], .theme-dark:not(.do-not-invert-symbols) .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsFailure:not(.cm-formatting), 
.theme-dark:not(.do-not-invert-symbols) .tag[href^="#StarWarsSuccess"], .theme-dark:not(.do-not-invert-symbols) .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsSuccess:not(.cm-formatting), 
.theme-dark:not(.do-not-invert-symbols) .tag[href^="#StarWarsThreat"], .theme-dark:not(.do-not-invert-symbols) .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsThreat:not(.cm-formatting), 
.theme-dark:not(.do-not-invert-symbols) .tag[href^="#StarWarsTriumph"], .theme-dark:not(.do-not-invert-symbols) .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsTriumph:not(.cm-formatting),
.theme-dark:not(.do-not-invert-symbols) .tag[href^="#StarWarsLightSide"], .theme-dark:not(.do-not-invert-symbols) .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsLightSide:not(.cm-formatting),
.theme-dark:not(.do-not-invert-symbols) .tag[href^="#StarWarsDarkSide"], .theme-dark:not(.do-not-invert-symbols) .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsDarkSide:not(.cm-formatting),
.theme-dark:not(.do-not-invert-symbols) .tag[href^="#StarWarsLightDark"], .theme-dark:not(.do-not-invert-symbols) .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsLightDark:not(.cm-formatting) {
	filter: invert(1);
}

/* css here to 
A: make the square dice less flat-seeming 
B: make sure the setback die can be seen in dark mode
*/
.tag[href^="#StarWarsSetback"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsSetback:not(.cm-formatting) {
	background-color: #686868;
	border-radius: 1px;
}
.tag[href^="#StarWarsBoost"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWarsBoost:not(.cm-formatting) {
	background-color: #989898;
	border-radius: 1px;
}