/** formatting stuff for Genesys **/
body .tag[href^="Genesys Ability"],
.is-live-preview .cm-line:not(.cm-active) .cm-tag-Genesys Ability:not(.cm-formatting) {
  /* Taken from original CSS */
  display: inline-flex;
  align-self: center;
  top: 0.175em;
  position: relative;
  height: 1em;
  width: 1em;
  border: 0;
  /* Added to try and deal with themes */
  background-color: transparent;
  font-size: var(--editor-font-size);
  padding: 1px;
  border-radius: 0;
  vertical-align: baseline;
}

.is-live-preview .cm-line:not(.cm-active) .cm-formatting.cm-tagGenesys Ability {
  display: none;
}

body .tag[href^="Genesys Boost"],
.is-live-preview .cm-line:not(.cm-active) .cm-tag-Genesys Boost:not(.cm-formatting) {
  /* Taken from original CSS */
  display: inline-flex;
  align-self: center;
  top: 0.175em;
  position: relative;
  height: 1em;
  width: 1em;
  border: 0;
  /* Added to try and deal with themes */
  background-color: transparent;
  font-size: var(--editor-font-size);
  padding: 1px;
  border-radius: 0;
  vertical-align: baseline;
}

.is-live-preview .cm-line:not(.cm-active) .cm-formatting.cm-tagGenesys Boost {
  display: none;
}

body .tag[href^="Genesys Challenge"],
.is-live-preview .cm-line:not(.cm-active) .cm-tag-Genesys Challenge:not(.cm-formatting) {
  /* Taken from original CSS */
  display: inline-flex;
  align-self: center;
  top: 0.175em;
  position: relative;
  height: 1em;
  width: 1em;
  border: 0;
  /* Added to try and deal with themes */
  background-color: transparent;
  font-size: var(--editor-font-size);
  padding: 1px;
  border-radius: 0;
  vertical-align: baseline;
}

.is-live-preview .cm-line:not(.cm-active) .cm-formatting.cm-tagGenesys Challenge {
  display: none;
}

body .tag[href^="Genesys Difficulty"],
.is-live-preview .cm-line:not(.cm-active) .cm-tag-Genesys Difficulty:not(.cm-formatting) {
  /* Taken from original CSS */
  display: inline-flex;
  align-self: center;
  top: 0.175em;
  position: relative;
  height: 1em;
  width: 1em;
  border: 0;
  /* Added to try and deal with themes */
  background-color: transparent;
  font-size: var(--editor-font-size);
  padding: 1px;
  border-radius: 0;
  vertical-align: baseline;
}

.is-live-preview .cm-line:not(.cm-active) .cm-formatting.cm-tagGenesys Difficulty {
  display: none;
}

body .tag[href^="Genesys Proficiency"],
.is-live-preview .cm-line:not(.cm-active) .cm-tag-Genesys Proficiency:not(.cm-formatting) {
  /* Taken from original CSS */
  display: inline-flex;
  align-self: center;
  top: 0.175em;
  position: relative;
  height: 1em;
  width: 1em;
  border: 0;
  /* Added to try and deal with themes */
  background-color: transparent;
  font-size: var(--editor-font-size);
  padding: 1px;
  border-radius: 0;
  vertical-align: baseline;
}

.is-live-preview .cm-line:not(.cm-active) .cm-formatting.cm-tagGenesys Proficiency {
  display: none;
}

body .tag[href^="Genesys Setback"],
.is-live-preview .cm-line:not(.cm-active) .cm-tag-Genesys Setback:not(.cm-formatting) {
  /* Taken from original CSS */
  display: inline-flex;
  align-self: center;
  top: 0.175em;
  position: relative;
  height: 1em;
  width: 1em;
  border: 0;
  /* Added to try and deal with themes */
  background-color: transparent;
  font-size: var(--editor-font-size);
  padding: 1px;
  border-radius: 0;
  vertical-align: baseline;
}

.is-live-preview .cm-line:not(.cm-active) .cm-formatting.cm-tagGenesys Setback {
  display: none;
}

body .tag[href^="Genesys Advantage"],
.is-live-preview .cm-line:not(.cm-active) .cm-tag-Genesys Advantage:not(.cm-formatting) {
  /* Taken from original CSS */
  display: inline-flex;
  align-self: center;
  top: 0.175em;
  position: relative;
  height: 1em;
  width: 1em;
  border: 0;
  /* Added to try and deal with themes */
  background-color: transparent;
  font-size: var(--editor-font-size);
  padding: 1px;
  border-radius: 0;
  vertical-align: baseline;
}

.is-live-preview .cm-line:not(.cm-active) .cm-formatting.cm-tagGenesys Advantage {
  display: none;
}

body .tag[href^="Genesys Despair"],
.is-live-preview .cm-line:not(.cm-active) .cm-tag-Genesys Despair:not(.cm-formatting) {
  /* Taken from original CSS */
  display: inline-flex;
  align-self: center;
  top: 0.175em;
  position: relative;
  height: 1em;
  width: 1em;
  border: 0;
  /* Added to try and deal with themes */
  background-color: transparent;
  font-size: var(--editor-font-size);
  padding: 1px;
  border-radius: 0;
  vertical-align: baseline;
}

.is-live-preview .cm-line:not(.cm-active) .cm-formatting.cm-tagGenesys Despair {
  display: none;
}

body .tag[href^="Genesys Failure"],
.is-live-preview .cm-line:not(.cm-active) .cm-tag-Genesys Failure:not(.cm-formatting) {
  /* Taken from original CSS */
  display: inline-flex;
  align-self: center;
  top: 0.175em;
  position: relative;
  height: 1em;
  width: 1em;
  border: 0;
  /* Added to try and deal with themes */
  background-color: transparent;
  font-size: var(--editor-font-size);
  padding: 1px;
  border-radius: 0;
  vertical-align: baseline;
}

.is-live-preview .cm-line:not(.cm-active) .cm-formatting.cm-tagGenesys Failure {
  display: none;
}

body .tag[href^="Genesys Success"],
.is-live-preview .cm-line:not(.cm-active) .cm-tag-Genesys Success:not(.cm-formatting) {
  /* Taken from original CSS */
  display: inline-flex;
  align-self: center;
  top: 0.175em;
  position: relative;
  height: 1em;
  width: 1em;
  border: 0;
  /* Added to try and deal with themes */
  background-color: transparent;
  font-size: var(--editor-font-size);
  padding: 1px;
  border-radius: 0;
  vertical-align: baseline;
}

.is-live-preview .cm-line:not(.cm-active) .cm-formatting.cm-tagGenesys Success {
  display: none;
}

body .tag[href^="Genesys Threat"],
.is-live-preview .cm-line:not(.cm-active) .cm-tag-Genesys Threat:not(.cm-formatting) {
  /* Taken from original CSS */
  display: inline-flex;
  align-self: center;
  top: 0.175em;
  position: relative;
  height: 1em;
  width: 1em;
  border: 0;
  /* Added to try and deal with themes */
  background-color: transparent;
  font-size: var(--editor-font-size);
  padding: 1px;
  border-radius: 0;
  vertical-align: baseline;
}

.is-live-preview .cm-line:not(.cm-active) .cm-formatting.cm-tagGenesys Threat {
  display: none;
}

body .tag[href^="Genesys Triumph"],
.is-live-preview .cm-line:not(.cm-active) .cm-tag-Genesys Triumph:not(.cm-formatting) {
  /* Taken from original CSS */
  display: inline-flex;
  align-self: center;
  top: 0.175em;
  position: relative;
  height: 1em;
  width: 1em;
  border: 0;
  /* Added to try and deal with themes */
  background-color: transparent;
  font-size: var(--editor-font-size);
  padding: 1px;
  border-radius: 0;
  vertical-align: baseline;
}

.is-live-preview .cm-line:not(.cm-active) .cm-formatting.cm-tagGenesys Triumph {
  display: none;
}

/** dice symbols definitions **/
/*** boilerplate to turn them into something workable ***/
body .tag[href^="StarWars Ability"],
.is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWars Ability:not(.cm-formatting) {
  content: url("data:image/svg+xml;base64,Ability=");
}

body .tag[href^="StarWars Boost"],
.is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWars Boost:not(.cm-formatting) {
  content: url("data:image/svg+xml;base64,Boost=");
}

body .tag[href^="StarWars Challenge"],
.is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWars Challenge:not(.cm-formatting) {
  content: url("data:image/svg+xml;base64,Challenge=");
}

body .tag[href^="StarWars Difficulty"],
.is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWars Difficulty:not(.cm-formatting) {
  content: url("data:image/svg+xml;base64,Difficulty=");
}

body .tag[href^="StarWars Proficiency"],
.is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWars Proficiency:not(.cm-formatting) {
  content: url("data:image/svg+xml;base64,Proficiency=");
}

body .tag[href^="StarWars Setback"],
.is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWars Setback:not(.cm-formatting) {
  content: url("data:image/svg+xml;base64,Setback=");
}

body .tag[href^="StarWars Advantage"],
.is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWars Advantage:not(.cm-formatting) {
  content: url("data:image/svg+xml;base64,Advantage=");
}

body .tag[href^="StarWars Despair"],
.is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWars Despair:not(.cm-formatting) {
  content: url("data:image/svg+xml;base64,Despaire=");
}

body .tag[href^="StarWars Failure"],
.is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWars Failure:not(.cm-formatting) {
  content: url("data:image/svg+xml;base64,Failure=");
}

body .tag[href^="StarWars Success"],
.is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWars Success:not(.cm-formatting) {
  content: url("data:image/svg+xml;base64,Success=");
}

body .tag[href^="StarWars Threat"],
.is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWars Threat:not(.cm-formatting) {
  content: url("data:image/svg+xml;base64,Threat=");
}

body .tag[href^="StarWars Triumph"],
.is-live-preview .cm-line:not(.cm-active) .cm-tag-StarWars Triumph:not(.cm-formatting) {
  content: url("data:image/svg+xml;base64,Triumph=");
}

/*# sourceMappingURL=StarWarsDice.css.map */
