.obsidian-statblock-plugin :is(.property-text, .line) {
    color: var(--statblock-font-color);
	font-weight: normal;
}

.statblock.swrpg {
font-weight: bold;
margin-bottom: 0rem !important;
}

.statblock.swrpg .heading {
  width: var(--statblock-column-width);
}

.statblock.swrpg .line {
  text-align: center;
}

.statblock.swrpg .subheading {
  text-align: center;
}

.statblock.swrpg .collapse-container summary {
	margin-bottom: 0rem !important;
	min-height: 0rem !important;
}

.statblock.swrpg .property-name {
  margin-right: 0px !important;
}

.statblock.vehicle summary{
font-weight: bold !important;
margin-bottom: 0rem !important;
}

.statblock.vehicle .image-container .image {
    width: unset;
    height: 150px;
}
.statblock.vehicle .image-container img {
    border-radius: unset;
    border: unset;
    max-width: unset;
    width: calc(100% + 1em);
    margin: -0.5em;
}

.statblock.vehicle h2::after, .statblock.vehicle h2::before {
	height: 0px;
}

.statblock.vehicle .statblock-item-inline .line {
	justify-content: center;
	border-radius: 20px;
}

.statblock.vehicle .group-container {
	width:100%;
}

.statblock.vehicle .tapered-rule {
background: var(--statblock-bar-color);
clip-path: none;
}

.statblock.vehicle .table .statblock-table-header {
	justify-content: center;
	background: var(--statblock-alt);
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 8px;
}

//Planets Statblock

.statblock.planets .table .statblock-table-header {
	justify-content: center;
	background: var(--statblock-alt);
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 8px;
}

.statblock.planets .image-container .image {
	height: 300px;
	width: 300px;

}

.statblock.planets .image-container {
	margin-right: 20px;
	float: right;
	height: 300px;
	width: 300px;
}

.statblock.planets .collapse-container .collapser {
	margin-bottom: 0rem !important;
	min-height: 0rem !important;
}

.statblock.planets .collapse-container summary {
	margin-bottom: 0rem !important;
	min-height: 0rem !important;
}

.statblock.planets h1::after, .statblock.planets h1::before {
	height: 0px;
}
