$diceandsymbols: Ability, Boost, Challenge, Difficulty, Proficiency, Setback, Advantage, Despair, Failure, Success, Threat, Triumph, LightSide, DarkSide, LightDarkSide;
$dice: Ability, Boost, Challenge, Difficulty, Proficiency, Setback;
$symbols: Advantage, Despair, Failure, Success, Threat, Triumph, LightSide, DarkSide, LightDarkSide;
$lp: ".is-live-preview .cm-line:not(.cm-active)";
