.tag[href^="#GenesysAbility"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-GenesysAbility:not(.cm-formatting),
.tag[href^="#GenesysBoost"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-GenesysBoost:not(.cm-formatting),
.tag[href^="#GenesysChallenge"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-GenesysChallenge:not(.cm-formatting),
.tag[href^="#GenesysDifficulty"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-GenesysDifficulty:not(.cm-formatting),
.tag[href^="#GenesysProficiency"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-GenesysProficiency:not(.cm-formatting),
.tag[href^="#GenesysSetback"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-GenesysSetback:not(.cm-formatting),
.tag[href^="#GenesysAdvantage"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-GenesysAdvantage:not(.cm-formatting),
.tag[href^="#GenesysDespair"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-GenesysDespair:not(.cm-formatting),
.tag[href^="#GenesysFailure"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-GenesysFailure:not(.cm-formatting),
.tag[href^="#GenesysSuccess"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-GenesysSuccess:not(.cm-formatting),
.tag[href^="#GenesysThreat"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-GenesysThreat:not(.cm-formatting),
.tag[href^="#GenesysTriumph"], .is-live-preview .cm-line:not(.cm-active) .cm-tag-GenesysTriumph:not(.cm-formatting) {
    background-color: var(--background-primary);
	font-size: var(--f-s-text);
	padding: 1px;
}